{% extends 'base.html.twig' %}

{% block title %}ZenPaw Tech{% endblock %}

{% block body %}
    <main>
        <div class="title-section">
            <div class="tittle-new">
                <h2>Crear nuevo artículo</h2>
            </div>
        </div>
        <div class="form-content">
            {{ form_start(form) }}
            <div id="post">
                <div>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                {% if form.autor is defined %}
                <div>
                    {{ form_label(form.autor) }}
                    {{ form_widget(form.autor) }}
                </div>
                {% endif %}
                <div>
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug) }}
                </div>
                <div>
                    {{ form_label(form.summary) }}
                    {{ form_widget(form.summary) }}
                </div>
                <div>
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
                <div>
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div>
                    {{ form_label(form.publishedAt) }}
                    {{ form_widget(form.publishedAt) }}
                </div>
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn btn-blue">Guardar Artículo</button>
                <a href="{{ path('app_blog_index') }}" class="btn btn-red">Cancelar</a>
            </div>
            {{ form_end(form) }}

        </div>

    </main>
{% endblock %}
