{% extends 'base.html.twig' %}

{% block title %}ZenPaw Tech{% endblock %}

{% block body %}

    <main>
        <div class="back-link-container">
            <a href="{{ path('app_blog_index') }}" class="btn btn-blue">← Volver al listado</a>
        </div>
        <div class="container container-post">
            <article class="post-preview">
                <div class="post-title">
                    <h1>{{ post.title }}</h1>
                </div>

                <div class="post-categories mb-3">
                    {% for category in post.category %}
                        <span class="badge bg-secondary">{{ category.name }}</span>
                    {% endfor %}
                </div>

                <div class="post-detail">
                    {# Usamos nl2br para respetar los saltos de línea del contenido #}
                    <p>{{ post.content|nl2br }}</p>
                </div>


                <div class="post-date">
                    <p>Publicado el {{ post.publishedAt|date('d/m/Y') }} por {{ post.autor|capitalize }}</p>
                </div>
            </article>
        </div>
    </main>
{% endblock %}
